.site-logo {
	font-size: 2.5rem;
	color: white;
	&:hover {
		color: white;
		text-decoration: none;
	}

	img {
		width: 4rem;
	}
}

nav {
	a {
		display: block;
		color: white;
		padding: 2rem;
		font-size: 1.4rem;

		&.active,
		&:hover {
			color: white;
			text-decoration: none;
			background-color: #212121;
		}
	}
}
