<h1>Fuego UI Library</h1>
<ul>
	<li>
		<a href="" [routerLink]="['/autocomplete']">Autocomplete</a>
	</li>
	<li>
		<a href="" [routerLink]="['/card']">Card</a>
	</li>
	<li>
		<a href="" [routerLink]="['/form-fields']">Form Fields</a>
	</li>
	<li>
		<a href="" [routerLink]="['/heroes']">Heroes</a>
	</li>
	<li>
		<a href="" [routerLink]="['/hr']">Hr</a>
	</li>
	<li>
		<a href="" [routerLink]="['/search-box']">Search box</a>
	</li>
	<li>
		<a href="" [routerLink]="['/tag']">Tag</a>
	</li>
	<li>
		<a href="" [routerLink]="['/Text Image']">Text Image</a>
	</li>
	<li>
		<a href="" [routerLink]="['/Typography']">Typography</a>
	</li>
</ul>
