<div class="d-flex justify-content-center flex-column mt-7">
	<div><h1 class="text-center">Fuego UI Library</h1></div>

	<div class="mx-auto mt-5">
		<img class="fire-icon" src="./assets/fire.png" alt="Fire Emoji" />
	</div>
	<div class="mx-auto mt-5">
		<ul class="fue-list fue-list--3-1 no-list">
			<li *ngFor="let page of pages" class="fue-card">
				<a href="" [routerLink]="page.link">
					<fue-card className="card--outline-card">
						{{page.name}}
					</fue-card>
				</a>
			</li>
		</ul>
	</div>
</div>
