.text-image-cmp {
	flex-flow: column;

	&--text,
	&--image {
		width: 100%;

		img {
			width: 100%;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}

		@include media-breakpoint-up(md) {
			width: 50%;
		}
	}

	@include media-breakpoint-up(md) {
		flex-flow: row;

		&--text {
			padding-left: 6rem;
		}
	}
}
