@import "functions";
@import "variables";
@import "mixins/_breakpoints";

.homes-hero {
	background-size: cover;
	// padding: 6rem 0;
	background-position: center;
	min-height: 45rem;

	&__content {
		width: 90%;
		max-width: 120rem;
		min-height: 45rem;
	}

	@include media-breakpoint-up(md) {
		min-height: 55rem;
	}
}
